.col-form-label {
    text-align: right;
    font-weight: 600;
}

.content-m-t {
    margin-top: 25px;
}

dt {
    text-align: right;
}


.fa {
    margin-right: 5px;
}

table {
    font-weight: 500;
}

.bg-success {
    color: #ffffff;
}

table.table-mc th {
    border-top: none;
}


input.from-time {
    width: auto;
    float: left;
    margin-right: 10px
}

input.to-time {
    width: auto;
    float: left;
    margin-right: 10px
}

select.workplaces {
    width: auto;
    float: left;
    margin-right: 10px
}

.add-time-interval-schedule-day {
    float: left;
    margin-left: 5px
}

.template-day {
    display: none;
}

.delete-interval-button {
    display: block;
    padding-top: 7px;
    color: red
}

.interval-delivary {
    margin-bottom: 10px;
    clear: both;
}

.displayNone {
    display: none;
}

#grid-table th {
    text-transform: uppercase;
    font-size: 90%;
}

#grid-table tr:hover {
    cursor: pointer;
}

.grid-filter {
    margin-bottom: 10px;
}

.col-no-border {
    border-top: none !important;
}

.dl-panel-info {
    margin-top: 25px;
}

.dl-panel-info dt {
    text-align: right;
    margin-bottom: 0px;
    padding-top: 2px
}

.dl-panel-info dd {
    font-size: 1rem
}

dt {
    font-weight: 400;
}

dl.row {
    margin-bottom: 5px;
}

dd {
    margin-bottom: 0rem;
    margin-left: 0;
}

.show-model {
    margin-top: 25px;
}

.show-model dt {
    text-align: right;
    margin-bottom: 15px;
    padding-top: 2px
}




